<launch>
  <group ns="rero_ros">
    <!-- set /speech_recognition/ -->
    <param name="core_host" value="0.0.0.0" />
    <param name="core_port" value="50052" type="str" />

    <node pkg="rero_ros" name="speech_recognition" type="speech_recognition" output="screen">

      <!-- set /speech_recognition/recognize/topic_name -->
      <param name="topic_name" value="random" />
    </node>
  </group>
</launch>